.box {
  width: 15rem;
  direction: rtl;
  padding-bottom: 7rem;
}

.boxMarginLeft {
  margin-left: 15rem;
}

.boxMarginLeft2 {
  margin-left: 30rem;
}

.box::-webkit-scrollbar {
  width: 6px;
  display: none;
}

.box:hover::-webkit-scrollbar {
  display: block;
}

.box::-webkit-scrollbar-thumb {
  background: #a1a1aa80;
  border-radius: 9999px;
}

.item {
  width: 11.75rem;
  color: black;
}

.itemWidth {
  width: 11.75rem;
}

.itemHover:hover {
  color: rgb(var(--bs-secondary-rgb)) !important;
}

.itemInfoHover:hover {
  color: rgb(var(--bs-info-rgb)) !important;
}

.itemSpan {
  direction: ltr;
}
