<div class="mt-2 d-flex align-items-center justify-content-between">
  <nav aria-label="Page navigation example">
    <ul class="pagination mb-0">
      <li class="page-item">
        <a class="page-link rounded-start-pill border-end-0" href="#">
          <i class="bi bi-chevron-left"></i>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link border-start-0 border-end-0" href="#">1</a>
      </li>
      <li class="page-item">
        <a class="page-link rounded-end-pill border-start-0" href="#">
          <i class="bi bi-chevron-right"></i>
        </a>
      </li>
    </ul>
  </nav>
  <div class="dropup align-self-center">
    <button
      class="btn btn-outline-secondary border-0"
      type="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <i class="bi bi-list"></i>
    </button>

    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Action two</a></li>
      <li><a class="dropdown-item" href="#">Action three</a></li>
    </ul>
  </div>
</div>
