<div class="mt-2 d-flex align-items-center justify-content-between">
  @if (showPageable) {
    @if (pageable) {
      <nav aria-label="Page navigation items">
        <ul class="pagination mb-0">
          @if (showBackBtn) {
            <li class="page-item">
              <a
                class="page-link rounded-start-pill border-end-0"
                href=""
                (click)="onClickBackBtn($event)"
              >
                <i class="bi bi-chevron-double-left"></i>
              </a>
            </li>
          }

          <li class="page-item">
            <a
              class="page-link border-end-0"
              [class.rounded-start-pill]="!showBackBtn"
              [class.disabled]="!pageable.previous"
              href=""
              (click)="onClickPreviousPage($event)"
            >
              <i class="bi bi-chevron-left"></i>
            </a>
          </li>
          <li class="page-item">
            <a
              class="page-link border-start-0 border-end-0"
              href=""
              (click)="onClickPage($event)"
            >
              @if (
                pageable.currentPageSize &&
                pageable.currentPageSize > 0 &&
                pageable.currentPageSize !== pageable.size
              ) {
                {{ pageable.page + 1 }}-{{ pageable.currentPageSize }}
              } @else {
                {{ pageable.page + 1 }}
              }
            </a>
          </li>
          <li class="page-item">
            <a
              class="page-link border-start-0"
              [class.rounded-end-pill]="!showXBtn"
              [class.disabled]="!pageable.next"
              href=""
              (click)="onClickNextPage($event)"
            >
              <i class="bi bi-chevron-right"></i>
            </a>
          </li>

          @if (showXBtn) {
            <li class="page-item">
              <a
                class="page-link rounded-end-pill border-end-0"
                href=""
                (click)="onClickXBtn($event)"
              >
                <i class="bi bi-x-lg"></i>
              </a>
            </li>
          }
        </ul>
      </nav>
    } @else {
      <nav></nav>
    }
  } @else {
    <nav></nav>
  }

  <div class="dropup align-self-center">
    <button
      class="btn btn-outline-secondary border-0"
      type="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <i class="bi bi-list"></i>
    </button>

    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="">My Profile</a></li>
      <li><a class="dropdown-item" href="">Login Now</a></li>
      <li><a class="dropdown-item" href="">Quick Register</a></li>
    </ul>
  </div>
</div>
