<div class="row">
  <div class="col">
    <div class="card border-0 shadow-sm-hover">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col-6">
            <a
              href="#"
              class="link-body-emphasis link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover"
            >
              xxxxxx
            </a>
          </div>
          <div class="col-3 text-truncate">xxxxxx - 15</div>
          <div class="col-2">
            <a
              href="#"
              class="link-body-emphasis link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover"
              >dafengzhen</a
            >
            <span>&nbsp;/&nbsp;</span>
            <span>7 Day</span>
          </div>
          <div class="col-1">
            <img
              ngSrc="assets/images/avatar.png"
              alt="avatar"
              class="rounded-circle"
              style="width: 40px; height: 40px"
              height="460"
              width="460"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
