<div class="vh-100 d-flex justify-content-center align-items-center">
  <div class="row w-100">
    <div class="col-3 text-end">
      <div class="vr h-100 text-dark"></div>
    </div>
    <div class="col-6">
      <div class="text-center py-4 placeholder-glow">
        <button
          type="button"
          class="btn text-decoration-none btn-link disabled placeholder fs-3"
        >
          Loading...
        </button>
      </div>
    </div>
    <div class="col-3 text-start">
      <div class="vr h-100 text-dark"></div>
    </div>
  </div>
</div>
