.ck-toolbar {
  border: var(--bs-border-width) solid var(--bs-border-color) !important;
  border-top-left-radius: var(--bs-border-radius) !important;
  border-top-right-radius: var(--bs-border-radius) !important;
  border-bottom: none !important;
}

.ck-sticky-panel__content_sticky {
  top: 3.2rem !important;
}

.ck-content {
  @extend textarea;
  @extend .form-control;

  min-height: 21rem !important;
  max-height: 50rem !important;
  display: block !important;
  width: 100% !important;
  padding: 0.375rem 0.75rem !important;
  font-size: 1rem !important;
  font-weight: 400 !important;
  line-height: 1.5 !important;
  color: var(--bs-body-color) !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  background-color: var(--bs-body-bg) !important;
  background-clip: padding-box !important;
  border: var(--bs-border-width) solid var(--bs-border-color) !important;
  border-radius: var(--bs-border-radius) !important;
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;

  --ck-spacing-large: calc(var(--ck-spacing-unit) * 0);
}

.ck-content p {
  margin-bottom: 0 !important;
}

.ck-content:focus {
  color: var(--bs-body-color) !important;
  background-color: var(--bs-body-bg) !important;
  border-color: #86b7fe !important;
  outline: 0 !important;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25) !important;
}

.ck-content .image {
  display: inline-block !important;
  margin: 0 !important;
}

.ck-content .image img {
  max-width: 100% !important;
  height: auto !important;
  line-height: 1 !important;
}
