<div data-bs-theme="light" class="container pt-5 pb-4">
  <div class="d-flex flex-column gap-4">
    <div class="row mb-4">
      <div class="col">
        <button
          type="button"
          class="btn btn-info shadow shadow-hover d-flex align-items-center rounded-3 p-4 gap-4 text-truncate w-100"
        >
          <div><i class="bi bi-tags fs-4"></i></div>
          <div class="">Content Groups</div>
        </button>
      </div>
      <div class="col">
        <button
          type="button"
          class="btn btn-info shadow shadow-hover d-flex align-items-center rounded-3 p-4 gap-4 text-truncate w-100"
        >
          <div><i class="bi bi-tags fs-4"></i></div>
          <div class="">Contents</div>
        </button>
      </div>
      <div class="col">
        <button
          type="button"
          class="btn btn-info shadow shadow-hover d-flex align-items-center rounded-3 p-4 gap-4 text-truncate w-100"
        >
          <div><i class="bi bi-tags fs-4"></i></div>
          <div class="">Tag Groups</div>
        </button>
      </div>
      <div class="col">
        <button
          type="button"
          class="btn btn-info shadow shadow-hover d-flex align-items-center rounded-3 p-4 gap-4 text-truncate w-100"
        >
          <div><i class="bi bi-tags fs-4"></i></div>
          <div class="">Tags</div>
        </button>
      </div>
      <div class="col">
        <button
          type="button"
          class="btn btn-info shadow shadow-hover d-flex align-items-center rounded-3 p-4 gap-4 text-truncate w-100"
        >
          <div><i class="bi bi-tags fs-4"></i></div>
          <div class="">Posts</div>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card shadow-sm border-0">
          <div class="card-body">
            <div class="row">
              <div class="col-6">Name</div>
              <div class="col-3">Overview</div>
              <div class="col-2">Author / Created On</div>
              <div class="col-1 col-auto">Avatar</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row overflow-y-auto yw-home" style="max-height: 50vh" #myDiv>
      <div class="col">
        <div class="d-flex flex-column gap-2">
          <div class="row">
            <div class="col">
              <div class="card border-0 shadow-sm-hover">
                <div class="card-body">
                  <div class="row align-items-center">
                    <div class="col-6">
                      <a
                        href="#"
                        class="link-body-emphasis link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover"
                      >
                        xxxxxx
                      </a>
                    </div>
                    <div class="col-3">xxxxxx - 15</div>
                    <div class="col-2">
                      <a
                        href="#"
                        class="link-body-emphasis link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover"
                        >dafengzhen</a
                      >
                      <span>&nbsp;/&nbsp;</span>
                      <span>7 Day</span>
                    </div>
                    <div class="col-1">
                      <img
                        ngSrc="assets/images/avatar.png"
                        alt="avatar"
                        class="rounded-circle"
                        style="width: 40px; height: 40px"
                        height="460"
                        width="460"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex align-items-center justify-content-between">
      <nav aria-label="Page navigation example">
        <ul class="pagination mb-0">
          <li class="page-item">
            <a class="page-link rounded-start-pill border-end-0" href="#">
              <i class="bi bi-chevron-left"></i>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link border-start-0 border-end-0" href="#">1</a>
          </li>
          <li class="page-item">
            <a class="page-link rounded-end-pill border-start-0" href="#">
              <i class="bi bi-chevron-right"></i>
            </a>
          </li>
        </ul>
      </nav>
      <div>
        <a
          href="#"
          class="link-secondary link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover"
          >User homepage</a
        >
      </div>
    </div>
  </div>
</div>
