<div class="container-fluid px-4 pt-5 pb-4">
  <div class="d-flex flex-column gap-4">
    <div class="row mb-4">
      <div class="col">
        <app-home-nav name="Content Groups"></app-home-nav>
      </div>
      <div class="col">
        <app-home-nav name="Contents"></app-home-nav>
      </div>
      <div class="col">
        <app-home-nav name="Tag Groups"></app-home-nav>
      </div>
      <div class="col">
        <app-home-nav name="Tags"></app-home-nav>
      </div>
      <div class="col">
        <app-home-nav name="Posts"></app-home-nav>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <app-home-header></app-home-header>
      </div>
    </div>
    <div class="row overflow-y-auto yw-home" style="max-height: 60vh" #myDiv>
      <div class="col">
        <div class="d-flex flex-column gap-2">
          <app-home-body></app-home-body>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <app-home-footer></app-home-footer>
      </div>
    </div>
  </div>
</div>
