@import 'styles/bs';
@import 'bootstrap-icons';
@import 'styles/editor';
@import 'photoswipe/dist/photoswipe.css';
@import 'highlight.js/scss/stackoverflow-light';

@include color-mode(dark) {
  @import 'highlight.js/scss/stackoverflow-dark';
}

// line-clamp

.line-clamp-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.line-clamp-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.line-clamp-4 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

.line-clamp-5 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}

.line-clamp-6 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
}

.line-clamp-none {
  overflow: visible;
  display: block;
  -webkit-box-orient: horizontal;
  -webkit-line-clamp: none;
}

// text-size
.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.text-5xl {
  font-size: 3rem;
  line-height: 1;
}

.text-6xl {
  font-size: 3.75rem;
  line-height: 1;
}

// other

.card-hover-active {
  background: var(--bs-card-cap-bg);
}

.card-hover:hover {
  background: var(--bs-card-cap-bg);
}

.image-hover:hover {
  opacity: 0.75;
}

.btn-hover:hover {
  border-color: var(--bs-tertiary-color);
}

.min-h-screen {
  min-height: 100vh;
}

// point-clippath

.point-clippath {
}

.point-clippath:after,
.point-clippath:before {
  border: 2px solid var(--bs-success-border-subtle);
  border-radius: var(--bs-toast-border-radius);
  content: '';
  opacity: 0;
  position: absolute;
  left: -2px;
  right: -2px;
  bottom: -2px;
  top: -2px;
  animation: clippath 3s linear infinite;
  transition: all 0.5s;
}

.point-clippath:after {
  animation: clippath 3s linear -1.5s infinite;
}

.point-clippath-hover {
}

.point-clippath-hover:after,
.point-clippath-hover:before {
  opacity: 1;
}

.point-clippath:hover:after,
.point-clippath:hover:before {
  opacity: 1;
}

@keyframes clippath {
  0%,
  to {
    clip-path: inset(0 0 98% 0);
  }

  25% {
    clip-path: inset(0 98% 0 0);
  }

  50% {
    clip-path: inset(98% 0 0 0);
  }

  75% {
    clip-path: inset(0 0 0 98%);
  }
}

// yw-card

@include color-mode {
  .yw-card {
    @extend .border-0;
  }

  .yw-card-header {
    @extend .bg-transparent;
    @extend .border-bottom-0;
  }
}

@include color-mode(auto) {
  .yw-card {
    @extend .border-0;
  }

  .yw-card-header {
    @extend .bg-transparent;
    @extend .border-bottom-0;
  }
}

@include color-mode(dark) {
  .yw-card {
  }

  .yw-card-header {
  }
}

// yw-btn-outline-light

@include color-mode {
  .yw-btn-outline-light {
    @extend .btn-light;
  }
}

@include color-mode(auto) {
  .yw-btn-outline-light {
    @extend .btn-light;
  }
}

@include color-mode(dark) {
  .yw-btn-outline-light {
    @extend .btn-outline-light;
  }
}

// yw-homepage-bg

@include color-mode {
  .yw-homepage-bg {
    background: linear-gradient(
        91.7deg,
        rgba(252, 190, 224, 1) 16.8%,
        rgba(212, 254, 218, 1) 103.6%
    );
  }
}

@include color-mode(auto) {
  .yw-homepage-bg {
    background: linear-gradient(
        91.7deg,
        rgba(252, 190, 224, 1) 16.8%,
        rgba(212, 254, 218, 1) 103.6%
    );
  }
}

@include color-mode(dark) {
  .yw-homepage-bg {
    background: linear-gradient(
        91.7deg,
        rgba(88, 27, 68, 1) 16.8%,
        rgba(21, 82, 88, 1) 103.6%
    );
  }
}
