@if (post?.tags) {
  @for (tag of post?.tags; track tag.id) {
    <span class="link-primary user-select-none">
      [
      <a
        (click)="onClickTag($event, tag)"
        href=""
        class="link-underline-primary link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover"
      >
        {{ tag.name }}
      </a>
      ]
    </span>
  }
}

<a
  [routerLink]="post ? '/posts/' + post.id : '/posts'"
  [queryParams]="{ previousPageId, nextPageId }"
  class="link-body-emphasis link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover"
  [class]="post?.classNames"
  [style]="post?.styles"
>
  {{ post?.name }}
</a>

@if (post && (post!.createdOn | isToday)) {
  <i class="text-danger small user-select-none">New</i>
}
